
    body {
        margin-left: 15%;
        margin-right: 20%;
        margin-top: 40px;
    }
    
    .title {
        font-family: 'Helvetica Neue', Helvetica, Arial;
        font-weight: 300;
        flood-opacity: 1;
        flood-color: black;
        
        font-size: 28px;
        font-weight: 600;
        padding-bottom: 10px;
    }
    .title a {
        text-decoration: none;
        color: black;
    }
    .title a:hover {
        text-decoration: underline;
    }
    .subtitle {
        font-family: 'Helvetica Neue', Helvetica, Arial;
        font-weight: 400;
        flood-opacity: 1;
        flood-color: black;
        
        padding-left:10px;
        font-size: 20px;
        font-weight: 400;
        padding-bottom: 8px;
        padding-top: 8px;
    }
    .content {
        font-family: 'Helvetica Neue', Helvetica, Arial;
        font-weight: 300;
        flood-opacity: 1;
        flood-color: black;
        
        padding-left: 20px;
        padding-bottom: 10px;
    }
    .content p {
        padding-bottom: 10px;
        margin: 0px;
    }
    .code {
        font-family: courier;
        font-size: 10px;
        font-weight: 100;
        margin: 15px;
        padding: 10px;
        background-color: #333;
        color: #ddd;
    }
    .example {
        padding: 15px;
        margin: 5px;
        font-size: 18px;
        font-family: Monaco;
        text-align: center;
        border: 1px solid gray;
    }
    a {
        color: black;
    }
