<html>

<script type="text/javascript" charset="utf-8">
    var genie_debug = 1;
</script>

<script type="text/javascript" charset="utf-8" src='js/mootools.js'> </script>
<script type="text/javascript" charset="utf-8" src='genie.js'></script>

<style type="text/css" media="screen">    
    body {
        margin-left: 15%;
        margin-right: 20%;
        margin-top: 40px;
    }
    
    .title {
        font-family: 'Helvetica Neue', Helvetica, Arial;
        font-weight: 300;
        flood-opacity: 1;
        flood-color: black;
        
        font-size: 28px;
        font-weight: 600;
        padding-bottom: 10px;
    }
    .subtitle {
        font-family: 'Helvetica Neue', Helvetica, Arial;
        font-weight: 400;
        flood-opacity: 1;
        flood-color: black;
        
        padding-left:10px;
        font-size: 20px;
        font-weight: 400;
        padding-bottom: 8px;
        padding-top: 8px;
    }
    .content {
        font-family: 'Helvetica Neue', Helvetica, Arial;
        font-weight: 300;
        flood-opacity: 1;
        flood-color: black;
        
        padding-left: 20px;
        padding-bottom: 10px;
    }
    .content p {
        padding-bottom: 10px;
        margin: 0px;
    }
    .code {
        font-family: courier;
        font-size: 10px;
        font-weight: 100;
        margin: 15px;
        padding: 10px;
        background-color: #333;
        color: #ddd;
    }
    .example {
        padding: 15px;
        margin: 5px;
        font-size: 18px;
        font-family: Monaco;
        text-align: center;
        border: 1px solid gray;
    }
</style>

<script type="text/javascript" charset="utf-8">
    function run_example(exp) {
        var data = [];
        $$(exp).each(function(obj) {
            data.push(obj.innerText);
        });
        
        for(var i = 0; i < data.length; i++) {
            eval(data[i]);
        }
    }
</script>

<body>
    <div class='title'>Introducing Genie</div>
    <div class='content'>
        You might be asking yourself, 
        <blockquote>"Why another template framework? Haven't we solved this problem?"</blockquote>
        In many ways most web frameworks solve this issue, either with their own template language or with the ability to plug in which ever template language you want. Django has it's own <a href=#>Templates</a> and there are a ton of other great template languages for Python in particular (Mako, Cheetah, Jinja2). However, Genie is really targeted at a different problem, it just seems similar.
    </div>
    
    <div class='subtitle'>
        A different kind of web application
    </div>
    
    <div class='content'>
        If you are saying to yourself, <blockquote>"This doesn't help me, I already have a great template language on my server"</blockquote>Well, you're right, Genie isn't for you. It isn't for sites that render things on the server, it's for a new kind of web application. One that is a little more flexible than you might think.
        <p>Initially this seems like a odd idea, I know, but when you think about it, it can really open up some really interesting possibilities. If you stop thinking of your website as a series of pages, and start seeing it as a bunch of pieces of data, you can start to see how this can help you.
        </p>
        
        <p>If you look at each chunk of your website as a template (which it probably already is, the header, the user section, the "current page", the footer). You can really break these sections down into two things, the template and the data.</p>
        <p>So stop rendering the template on the server, just ship the data to the client, and let the browser do the rendering.</p>
        <p>Initially this seems useless, because nothing is different, but think about the other technologies that you can now use. First, each section of your site is simply a JSON object (most likely a list, or a dictionary). Which means you can cache this data, which means that you can render a whole new page with only the data that you NEED. Data can be cached, data can be updated, all you have to do is send data to the browser and it can render the rest for you. Heck you can even cache the templates themselves.
        </p>
        <p>Whats more, as you start to design your architecture around these ideas too. Put your user table on one server and your stock data on another, throw your sessions in memcache and you've got yourself some scalability. Well not really, but you get the idea.
        </p>
            
        <p>Once you start thinking this way a whole new world of possibilities arises, you can easily render lists and tables, because they are just JSON you are rendering, adding to your page. And re-rendering is easy, you simply update the local data and re-render the DOM object that has changed. (I've even included some classes that make this very easy)</p>
        <hr>
    </div>
    
    <div class='subtitle'>Prove it</div>
    

    
    <div class='content'>
        Ok, how about an example.
        
        First we include genie, and initialize an environment.
        <div class='code example1'>
            var env = new genie.Environment();
        </div>
        
        Then we create a string of text.
        
        <div class='code example1'>
            var t = "This is a rendered template, by the template engine {{ v.name }}.";
        </div>
        
        Now we render the template:
        
        <div class='code example1'>
            var result = env.render_quick(t, {name:'Genie'});<br>
            $('result_example1').innerHTML = result;
        </div>
        
        Result: <div id='result_example1' class='example'></div>
        <input type=button onclick='run_example(".example1");' value='Try It!'><br><br>
        
        Ok, I'm leaving a small wart out, the "<em>v.name</em>" syntax. This is largely due to the fact that I want templates to be functions that do not have to be evaluated each time, but that can be compiled once and reused over and over (mostly for speed).<br><br>
        Basically every template is a function, that gets some additional values passed in, one is "<em>v</em>" and it holds all of the data that you pass to the template. I'm actively looking for a way around this, but at this point, it's going to stay.
        
    </div>
    
    <hr>
    
    <div class='subtitle'>
        Adding to the fun.
    </div>
    <div class='content'>
        You can also store templates for use later.
        
        <div class='code example2'>
            var env = new genie.Environment();<br>
            env.create_template('saved', "Hello {{ v.place }}.");<br>
            <br>
            // You can render to a DOMElement<br>
            env.render('saved', $('result_example2'), {place:'World'});<br>
            <br>
            // or put the data in yourself.<br>
            $('result_example2').innerHTML = env.render('saved', {place:'World'});<br>
        </div>
        
        Result: <div id='result_example2' class='example'></div>
        <input type=button onclick='run_example(".example2");' value='Try It!'><br><br>
    </div>
    
    <div class='subtitle'>
        Calling Other Templates
    </div>
    
    <div class='content'>
        It wouldn't be very useful if you couldn't render other templates too!
        <div class='code example3'>
            var env = new genie.Environment();<br>
            env.create_template('greeting', "Hello, {{ v.name }}");<br>
            env.create_template('say', 'The proper way to greet someone is "{{ partial("greeting", {name:"Graham"}) }}".');
            <br><br>
            $('result_example3').innerHTML = env.render('say', {});
        </div>
        Result: <div id='result_example3' class='example'></div>
        <input type=button onclick='run_example(".example3");' value='Try It!'><br><br>
    </div>
    
    <div class='subtitle'>A Cleaner Way</div>
    <div class='content'>
        This can get rather ugly as your templates get bigger, so i like to wrap them in a script tag, I realize this isn't exactly what the script tag was intended for, but it's actually quite handy.<br><br>For Example:
        <div class='code'>
            &lt;script type='text/plain' id='mytemplate'&gt;<br>
                &nbsp;&nbsp;{% if v.account_balance &lt; 0 %}<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&lt;span style='color:red;'&gt;Your account is in arrears!&lt;/span&gt;
                    <br>
                &nbsp;&nbsp;{% else %}<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;Your account is just fine.<br>
                &nbsp;&nbsp;{% end %}<br>
            &lt;/script&gt;
            <script type='text/plain' id='mytemplate'>
            {% if v.account_balance < 0 %}
                <span style='color:red;'>Your account is in arrears!</span>
            {% else %}
                Your account is just fine.
            {% end %}
            </script>
        </div>
        Then you can simply compile the template and use it!
        <div class='code example4'>
            var env = new genie.Environment();<br>
            env.create_template('account', $('mytemplate').innerHTML);<br>
             $('result_example4').innerHTML = env.render('account', {'account_balance':-100.0});
        </div>
        Result: <div id='result_example4' class='example'></div>
        <input type=button onclick='run_example(".example4");' value='Try It!'><br><br>
    </div>
    
    <div class='subtitle'>
        The power of an API
    </div>
    <div class='content'>
        <p>The real power of developing your web page/site/app/etc this way is that you end up building an API, rather than a series of pages. It allows the developer to focus on the engineering and the designer to focus on how things look.</p>
        <p>It allows you to update how your site looks, without making a new server revision, or needing to restart anything, because the only thing that changes are the templates.</p>
        <p>It allows you to have multiple versions of your website, simply by having multiple versions of your API. It means that you build a RESTful API, which can then be used by any client, be it web, mobile, etc.</p>
    </div>
    
    <div class='subtitle'>
        But wait, it isn't all tulips and gravy.
    </div>
    
    <div class='content'>
        <p>You're right of course, it's not all wonderful. It's a different way of looking at things, it requires a complete reworking of how you design your site, how you engineer your solution, and it means that you have to do considerably more error checking on the client.</p>
        
        <p>However, your development will closely mirror how MVC works in Desktop environments (like Cocoa on Mac OS X). It means that you can develop APIs along side your web application, and it means that Developers and Designers can work in tandem rather than at odds.</p>
    </div>
    
    <div class='subtitle'>
      
    </div>
    
    <div class='title'>More Soon...</div>

    <div class='subtitle'>
        Try It
    </div>
    <div class='content'>
        Genie is available right now, here: <a href='https://github.com/graham/genie'>https://github.com/graham/genie</a>
    </div>
    
</body>


<script type="text/javascript" charset="utf-8">

  window.addEvent('domready', function() {
    var env = new genie.Environment();
  });

</script>


</html>
