<html>

<script type="text/javascript" charset="utf-8">
    var genie_debug = 1;
</script>

<script type="text/javascript" charset="utf-8" src='js/jquery.js'> </script>
<script type="text/javascript" charset="utf-8" src='genie.js'></script>

<body>

<a href='#' onclick='setup_test_one(); return false;'>Test 1: Missing Var</a> | 
<a href='#' onclick='setup_test_two(); return false;'>Test 2: Bad Javascript (bad else clause) </a> <br>

<textarea id='template' cols=80 rows=10>
</textarea>
<a href='#' onclick='render();'>Render</a>
<hr>
Error:

<pre style='width: 100%; border: 1px solid red;' id='error'></pre>

<script type='text/javascript'>
  var setup_test_one = function() {
    $('#template').val(" <% if wtf < 0 %>\n   <span style='color:red;'>Your account is in arrears!</span>\n <% else %>\n   Your account is just fine.\n <% end %>");
  };

  var setup_test_two = function() {
    $('#template').val(" <% if wtf < 0 %>\n   <span style='color:red;'>Your account is in arrears!</span>\n <% else 71289372189738912 %>\n   Your account is just fine.\n <% end %>");
  };

  var t = null;
  var render = null;
  $(document).ready( function() {
  
  render = function() {
    t = new genie.Template( $('#template').val() );
    try {
      var result = t.render({});
      $('#error').html( result );
    } catch (e) {
      $('#error').text( e.message );
    }
  };

  });
</script>
</body>
