<html>

<script type="text/javascript" charset="utf-8">
    var genie_debug = 1;
</script>

<script type="text/javascript" charset="utf-8" src='js/mootools.js'> </script>
<script type="text/javascript" charset="utf-8" src='genie.js'></script>

<style type="text/css" media="screen">
    * {
        font-family: 'Helvetica Neue', Helvetica, Arial;
        font-weight: 300;
        flood-opacity: 1;
        flood-color: black;
    }
    
    .title {
        float:left;
        width: 400px;
    }
    
    .pass_fail {
        float:right;
        width: 200px;
    }
    
    .success {
        background-color: #cfc;
    }
    
    .failure {
        background-color: #fcc;
    }
</style>

<script type="text/plain" charset="utf-8" id='result_template'>
    <div class='{{v.klass}}'>
        <div class='title'>{{v.title}}</div>
        <div class='pass_fail'>
            {% if v.result %}
                Pass
            {% else %}
                Fail
            {% end %}
        </div>
        <div class='result'>{{JSON.stringify(v.result)}}</div>
    </div>    
</script>

<script type="text/plain" charset="utf-8" id='conditional-template'>
    {% if 10==10 %}
        Hello
    {% end %}
    {% if (10 == 10) %}
        World
    {% end %}
</script>

<body>
    <div id='test_results'></div>
</body>


<script type="text/javascript" charset="utf-8">
    var env = new genie.Environment();
    
    function test_basic1() {
        var result = env.quick_render('my name is {{v.name}}', {'name':'Graham'});
        if (result == 'my name is Graham') {
            return [true, result];
        } else {
            return [false, result];
        }
    }
    function test_basic2() {
        var result = env.quick_render('my name is {% if true %}{{v.name}}{% end %}', {'name':'Graham'});
        if (result == 'my name is Graham') {
            return [true, result];
        } else {
            return [false, result];
        }
    }
    function test_basic3() {
        var result = env.quick_render('my name is {% if (true) %}{{v.name}}{% end %}', {'name':'Graham'});
        if (result == 'my name is Graham') {
            return [true, result];
        } else {
            return [false, result];
        }
    }
    function test_basic4() {
        var result = env.quick_render('my name is {% if(true) %}{{v.name}}{% end %}', {'name':'Graham'});
        if (result == 'my name is Graham') {
            return [true, result];
        } else {
            return [false, result];
        }
    }
    function test_basic5() {
        var result = env.quick_render('my name is {%if(true)%}{{v.name}}{%end%}', {'name':'Graham'});
        if (result == 'my name is Graham') {
            return [true, result];
        } else {
            return [false, result];
        }
    }
    function test_basic6() {
        var result = env.quick_render('my name is {%if true %}{{v.name}}{%end%}', {'name':'Graham'});
        if (result == 'my name is Graham') {
            return [true, result];
        } else {
            return [false, result];
        }
    }
    function test_basic7() {
        var result = env.quick_render('my name is {%if true%}{{v.name}}{%end%}', {'name':'Graham'});
        if (result == 'my name is Graham') {
            return [true, result];
        } else {
            return [false, result];
        }
    }
    
    function test_conditions() {
        var result = env.quick_render($('conditional-template').innerHTML, {'lines':[1,2,3], 'lorem':'ipsum'});
        if (result == 'Hello\n    \n    \n        World') {
            return [true, result];
        } else {
            return [false, result];
        }
    }
    
    function test_loops() {
        var result = env.quick_render("{% for i in [1,2,3] %}{{i}},{% end %}", {});
        if (result == "1,2,3,") {
            return [true, result];
        } else {
            return [false, result];
        }
    }

    function test_crazy() {
        var result = env.quick_render("This is a test {{ v.newa[2].woot }}", {'newa':[1,2,{'woot':'hahaahhaahahahah'}]});
        if (result == "This is a test hahaahhaahahahah") {
            return [true, result];
        } else {
            return [false, result];
        }
    }

    var tests = [
        [test_basic1, "Basic inline variable test 1."],
        [test_basic2, "Basic inline variable test 2."],
        [test_basic3, "Basic inline variable test 3."],
        [test_basic4, "Basic inline variable test 4."],
        [test_basic5, "Basic inline variable test 5."],
        [test_basic6, "Basic inline variable test 6."],
        [test_basic7, "Basic inline variable test 7."],
        [test_conditions, "testing of conditaionals"],
        [test_crazy, "crazy nested test."],
        [test_loops, 'test basic for loop'],
    ];
    
    window.addEvent('domready', function() {
        env.create_template('result-template', $('result_template').innerHTML);
        var results = $('test_results');
        for(var i=0; i < tests.length; i++) {
            var test = tests[i][0];
            var test_name = tests[i][1];
            var success = test();
            
            if (success[0]) {
                var d = document.createElement('div');
                d.innerHTML = env.render_template('result-template', {'klass':'success', 'title':test_name, 'result':success[1]});
                results.appendChild(d);
            } else {
                var d = document.createElement('div');
                d.innerHTML = env.render_template('result-template', {'klass':'failure', 'title':test_name, 'result':success[1]});
                results.appendChild(d);                
            }
        }
    });
</script>


</html>
