<html>

<script type="text/javascript" charset="utf-8">
    var genie_debug = 1;
</script>

<script type="text/javascript" charset="utf-8" src='../js/mootools.js'> </script>
<script type="text/javascript" charset="utf-8" src='../genie.js'></script>

<style type="text/css" media="screen">
    * {
        font-family: 'Helvetica Neue', Helvetica, Arial;
        font-weight: 300;
        flood-opacity: 1;
        flood-color: black;
    }

    .jst-target, .jst-target-url, .jst-data {
        visibility: hidden;
    }
    .jst-rendered {
        visibility: display;
    }
</style>

<script type="text/plain" charset="utf-8" class='jst-template' id='username-box'>
    Hello world, my name is {{ v.name }} and I am {{ v.age }} years old.
    {# ignore me #}
    
    {!
        var rand = function() {
            return Math.round(Math.random() * 1000, 0) % 100;
        }
    !}

    {% if (v.age > 10) %}
        You are older than ten.
    {% else %}
        You are younger than ten.
    {% end %}
        
    {% if (v.age > 90) %}
        You are old.
    {% else %}
        You are not over 90, in fact you are {{v.age}}.
        {% if (v.age >= 10) %}
            You are over 10.0
        {% end %}
    {% end %}
    
    <BR><BR>
    
    {% for i    in [1  ,2    ,3] %}
        i is equal {{ i }}<br>
    {% end %}

    Age + 100 = {{ 100 + v.age }}
    
    <br>
    You are from the site {{v.site}}.
    <Br>
    
    {!
        [1,2,3].each( function(obj) {
            write("Number: " + obj + "<br>");
        });
    !}
    
    {@ slurp @}
    
    {!
        var data = [1,2, "Graham", "Clay", 293912.103291];
    !}
    
    {% if 10 == 10 %} HERE ! {% end %}
    
    {% for blarg in data %}
        This entry is equal to {{ blarg }}.<br>
    {% end %}
    
    {! var count = 0; !}
    
    {% while(count < 10) %}
        Count is currently {{count}}. {{ rand() }}<br>
        {! count += 1; !}
    {% end %}

    {% while count < 10 %}
        never here
        {! count += 1; !}
    {% end %}

    <br>
    boo!<br>
    My favorite number today is
    {! var number = rand(); !}
    {{ number }}
</script>

<script type="text/javascript" charset="utf-8">
    var redo = function() {
        update_dom_dict('test', {'name':'robin hood'});
        r.reload();
        setTimeout( function() {
            r.run();
        }, 1000);
    }
</script>

<body>
    <a href='#' onclick="redo(); return false;">Test</a>
    
    <div class='jst-data'>
        {
            "site":"http://www.grahamalot.com",
            "username":"Graham Abbott (graham@bellumlabs.com)"
        }
    </div>
    
    <div class='jst-data'>
        {
            "site":"http://www.google.com",
            "password":"awesome"
        }
    </div>
    
    <div class='jst-target username-box' id='test'>
        { 
            "name": "graham", 
            "age": 26
        }
    </div>
    <hr>
    
    <div id='genie_error_log'></div>
    
</body>


<script type="text/javascript" charset="utf-8">
    var r = new genie.Environment();
    r.run();
</script>


</html>